.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    color: black;
    padding: .5em;
}
.header h1{
    margin: 0px;
    font-weight: lighter;
    padding-left: 20px;
}
.header .link{
    display: flex;
    justify-content: center;
    align-items: center;
}
.header .link li{
    text-align: center;
    list-style: none;
    width: 5em;
}
.header .link li a{
    text-decoration: none;
    color: black
}